{% extends "worker/worker_base.html" %}

{% block title %}View Shift{% endblock %}

{% block worker_content %}
  <div class="header bg-gradient-primary py-3">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"><i class="fas fa-list"></i> View Shift</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header border-0">
            <h3 class="mb-0">Shift Details</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h4>Date</h4>
                <p>{{ shift.date }}</p>
              </div>
              <div class="col-md-6 col-sm-12">
                <h4>Location</h4>
                <p>{{ shift.location.name }} <i class="fa-solid fa-circle-info" onclick="showDisclaimer()"></i></p>              
              </div>            
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h4>Start Time</h4>
                <p>{{ shift.start_time }}</p>
              </div>
              <div class="col-md-6 col-sm-12">
                <h4>End Time</h4>
                <p>{{ shift.end_time }}</p>
              </div>
              <div class="col-md-6 col-sm-12">
                <h4>Sleep In</h4>
                <p>{% if shift.sleep_in %}Yes{% else %}No{% endif %}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h4>Reference</h4>
                <p>{{ shift.reference }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h4>Worker</h4>
                <p>{{ shift.worker.first_name }} {{ shift.worker.last_name }}</p>
              </div>
              <div class="col-md-6 col-sm-12">
                <h4>Completed</h4>
                <p>{% if shift.is_completed %}Yes{% else %}No{% endif %}</p>
              </div>
            </div>
            {% if shift.is_completed %}
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h4>Signature</h4>
                <img src="{{ shift.signature }}" alt="Signature" class="img-fluid">
              </div>
              <div class="col-md-6 col-sm-12">
                <h4>Signed By</h4>
                <p>{{ shift.signed_by }}</p>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="card-footer py-4">
            <a href="{% url 'worker_shift_list' %}" class="btn bg-gradient-secondary">Back to Shifts</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Disclaimer Modal -->
  <div class="modal fade" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="disclaimerModalLabel">{{shift.location.name}}</h5>
        </div>
        <div class="modal-body">
          {{shift.location.address}} <br>
          {{shift.location.postcode}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-gradient-primary" onclick="dismissDisclaimer()">OK</button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block extra_js %}
  <!-- Include jQuery -->
  <script>

    function showDisclaimer() {
        $('#disclaimerModal').modal('show');
    }

    function dismissDisclaimer() {
        $('#disclaimerModal').modal('hide');
    }

    
  </script>
{% endblock %}