
{% extends "worker/worker_base.html" %}

{% load static %}

{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}My Shifts{% endblock %}

{% block worker_content %}
  <div class="header bg-gradient-primary py-3">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"><i class="fas fa-list"></i> My Shifts</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col">
        <div class="card mb-4">
          <div class="card-header border-0">
            <span class="mb-0 text-lg text-black font-weight-bold">Welcome, {{ user.first_name }} {{ user.last_name }}</span>
            <h3 class="mb-0">Today's Shifts</h3>
          </div>
          <div class="card-body">
            {% if today_shifts %}
                <div class="row">
                    {% for shift in today_shifts %}
                        <div class="col-md-4 col-sm-6 mb-4">
                            <div class="card shadow-lg">
                              <div class="card-header shadow-sm" style="background-color: #673AB7;"><h5 class="text-white">{{ shift.location.name }}</h5></div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <strong>Date:</strong> {{ shift.date }}<br>
                                        <strong>Start Time:</strong> {{ shift.start_time }}<br>
                                        <strong>End Time:</strong> {{ shift.end_time }}<br>
                                        <strong>Completed:</strong> {{ shift.is_completed|yesno:"Yes,No" }}
                                    </p>
                                    <a href="{% url 'view_shift' shift.id %}" class="btn bg-gradient-primary btn-sm">View</a>
                                    {% if not shift.is_completed %}
                                        <a href="{% url 'sign_off_shift' shift.id %}" class="btn bg-gradient-warning btn-sm">Sign</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No shifts today.</p>
            {% endif %}
          </div>
        </div>

        <!-- tabs section -->
        <div class="card">


          <!-- tab header -->
          <ul class="nav nav-tabs nav-fill" id="myTab0" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                data-mdb-tab-init
                class="nav-link active"
                id="home-tab0"
                data-mdb-target="#upcoming0"
                type="button"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
              Upcoming Shifts
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                data-mdb-tab-init
                class="nav-link"
                id="profile-tab0"
                data-mdb-target="#previous0"
                type="button"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
              >
              Previous Shifts
              </button>
            </li>
          </ul>

          <!-- tab content -->

          <div class="tab-content" id="myTabContent0">

            <!-- upcoming shifts tab -->
            <div class="tab-pane fade show active" id="upcoming0" role="tabpanel" aria-labelledby="home-tab0">
              <div class="card-header border-0">
                <h3 class="mb-0">Upcoming Shifts</h3>
              </div>
              <div class="card-body">
                {% if upcoming_shifts %}
                    <div class="list-group">
                        {% for shift in upcoming_shifts %}
                        <div class="list-group-item d-flex justify-content-between align-items-center list-group-item-pill shadow-sm">
                            <div class="date-container d-flex align-items-center">
                                <div class="date-day font-weight-bold" style="font-size:40px;">{{ shift.date|date:"j" }}</div>
                                <div class="date-month-year ml-2 ">
                                    <div>{{ shift.date|date:"M" }}</div>
                                    <div>{{ shift.date|date:"Y" }}</div>
                                </div>
                            </div>
                            <div class="shift-details text-center">
                                <div class="shift-location">{{ shift.location.name }}</div>
                                <div class="shift-time">{{ shift.start_time|time:"H:i" }} - {{ shift.end_time|time:"H:i" }}</div>
                            </div>
                            <a href="{% url 'view_shift' shift.id %}" class="btn bg-gradient-primary btn-sm">View</a>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No upcoming shifts.</p>
                {% endif %}
              </div>
            </div>
            
            <!-- previous shifts tab -->
            <!-- prevoius shifts tab -->
            <div class="tab-pane fade" id="previous0" role="tabpanel" aria-labelledby="profile-tab0">
              <div class="card-header border-0">
                <h3 class="mb-0">Previous Shifts</h3>
              </div>
              <div class="card-body">
                {% if previous_shifts %}
                  <div class="table-responsive">
                    <table id="previousShiftsTable" class="table table-striped">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Location</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for shift in previous_shifts %}
                          <tr>
                            <td>{{ shift.date|date:"Y-M-d" }}<br>
                              <strong>{{ shift.start_time|time:"H:i" }}-{{ shift.end_time|time:"H:i" }}</strong>
                            </td>
                            <td>{{ shift.location.name|break_location|safe }}</td>
                            <td>
                              {% if not shift.is_completed %}
                                  <a href="{% url 'sign_off_shift' shift.id %}" class="btn bg-gradient-warning btn-sm">Sign</a>
                              {% endif %}
                              <a href="{% url 'view_shift' shift.id %}" class="btn bg-gradient-primary btn-sm">View</a>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% else %}
                  <p>No previous shifts.</p>
                {% endif %}
              </div>
            </div>
          

          </div>
            
        </div>

        </div>
        
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}

<script>
  $(document).ready(function() {
      $('#previousShiftsTable').DataTable({
          "order": [[0, "desc"]],
          "columnDefs": [
              {
                  "targets": 0,
                  "render": function (data, type, row) {
                      if (type === 'sort' || type === 'type') {
                          return data.split('<br>')[0];
                      }
                      return data;
                  }
              }
          ]
      });
  });
</script>


<script type="module">
  import { Tab, initMDB } from "{% static 'js/mdb.es.min.js' %}";

  // Initialize MDB components
  initMDB({ Tab });
</script>
{% endblock %}