{% extends "admin/admin_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block admin_content %}
  <div class="header bg-primary py-3">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Reset Password for {{ user.username }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header border-0">
            <h3 class="mb-0">Reset Password</h3>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Reset Password</button>
              <a href="{% url 'manage_users' %}" class="btn btn-secondary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}