{% extends "admin/admin_base.html" %}

{% block title %}Admin Reporting{% endblock %}

{% block admin_content %}
  <div class="header bg-primary py-3">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"><i class="fas fa-list"></i> Admin Reporting</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <form method="post">
      {% csrf_token %}
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="users" style="color: white; font-weight: bold;">Select Users:</label>
          <select id="users" name="users" class="form-control" multiple="multiple">
            {% for user in users %}
              <option value="{{ user.id }}" {% if selected_users and user.id in selected_users %}selected{% endif %} >{{ user.username }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <label for="start_date" style="color: white; font-weight: bold;">Select Week Starting Monday:</label>
          <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date }}" required>
        </div>
        <div class="col-md-4 align-self-end">
          <button type="submit" class="btn btn-primary">Generate Report</button>
          <a href="{% url 'export_report_to_excel' %}?users={{ selected_users|join:"," }}&start_date={{ start_date }}" class="btn btn-success">Export to Excel</a>
        </div>
      </div>
    </form>

    {% if selected_users %}
      <h2 style="padding-top: 30px;">Report for Selected Users</h2>
      <p>Total Hours: {{ total_hours }}</p>
      <p>Total Pay: {{ total_pay }}</p>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header border-0">
              <h3 class="mb-0">Shifts</h3>
            </div>
            <div class="table-responsive" style="padding: 10px;">
              <table class="table align-items-center table-flush table-bordered" id="shifts-table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">User</th>
                    <th scope="col">Date</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Location</th>
                    <th scope="col">Hours Done</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Sleep In</th>
                    <th scope="col">Amount Paid</th>
                  </tr>
                </thead>
                <tbody id="shifts-tbody">
                  {% for shift in shifts %}
                    <tr>
                      <td>{{ shift.worker.first_name }} {{ shift.worker.last_name }}</td>
                      <td>{{ shift.date|date:"j M Y" }}</td>
                      <td>{{ shift.start_time|time:"H:i" }}</td>
                      <td>{{ shift.end_time|time:"H:i" }}</td>
                      <td>{{ shift.location.name }}</td>
                      <td>{{ shift.hours_done }}</td>
                      <td>{{ shift.rate }}</td>
                      <td>{{ shift.sleep_in|yesno:"Yes,No" }}</td>
                      <td>{{ shift.shift_pay }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <!-- Custom CSS for styling DataTables elements -->
  <style>
    .dataTables_wrapper .dataTables_filter input {
      border: 1px solid #141414;
      border-radius: 5px;
      padding: 5px;
      margin-left: 0.5em;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      padding: 0.5em 1em;
      margin-left: 0.5em;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #f8f9fa;
      color: #333;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
      background-color: #e2e6ea;
      color: #333;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
      background-color: #007bff;
      color: black !important;
      border: 1px solid #007bff;
    }
    .form-control-sm {
      height: calc(1.5em + 0.5rem + 2px);
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem;
    }
  </style>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Initialize Select2
      $('#users').select2({
        placeholder: "Select users",
        allowClear: true
      });

      // Initialize DataTables with column search boxes
      var table = $('#shifts-table').DataTable({
        "paging": true,
        "pageLength": 10,  // Number of entries to show per page
        "lengthMenu": [5, 10, 25, 50, 75, 100],  // Options for number of entries per page
        "searching": true,
        "ordering": true,
        "info": true
      });

      // Apply the search
      $('#shifts-table thead tr:eq(1) th').each(function (i) {
        $('input', this).on('keyup change', function () {
          if (table.column(i).search() !== this.value) {
            table
              .column(i)
              .search(this.value)
              .draw();
          }
        });
      });

      // Date range filter
      $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
          var min = $('#min-date').val();
          var max = $('#max-date').val();
          var date = new Date(data[0]); // Use data for the date column

          if (
            (min === '' && max === '') ||
            (min === '' && date <= new Date(max)) ||
            (new Date(min) <= date && max === '') ||
            (new Date(min) <= date && date <= new Date(max))
          ) {
            return true;
          }
          return false;
        }
      );

      $('#min-date, #max-date').change(function () {
        table.draw();
      });
    });
  </script>
{% endblock %}