{% extends "admin/admin_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Location{% endblock %}

{% block admin_content %}
  <div class="header bg-primary py-3">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"><i class="fas fa-map-marker-alt"></i> Create Location</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header border-0">
            <h3 class="mb-0">New Location Details</h3>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'create_location' %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_name">Name</label>
                {{ form.name }}
              </div>
              <div class="form-group">
                <label for="id_address">Address</label>
                {{ form.address }}
              </div>
              <div class="form-group">
                <label for="id_postcode">Postcode</label>
                {{ form.postcode }}
              </div>
              <div class="form-group">
                <label for="id_latitude">Latitude</label>
                {{ form.latitude }}
              </div>
              <div class="form-group">
                <label for="id_longitude">Longitude</label>
                {{ form.longitude }}
              </div>
              <div class="form-group">
                <label for="id_weekday_rate">Weekday Rate</label>
                {{ form.weekday_rate }}
              </div>
              <div class="form-group">
                <label for="id_saturday_rate">Saturday Rate</label>
                {{ form.saturday_rate }}
              </div>
              <div class="form-group">
                <label for="id_sunday_rate">Sunday Rate</label>
                {{ form.sunday_rate }}
              </div>
              <div class="form-group">
                <label for="id_sleep_in_rate">Sleep_in Rate</label>
                {{ form.sleep_in_rate }}
              </div>
              <button type="submit" class="btn bg-gradient-primary">Create Location</button>
              <a href="{% url 'manage_locations' %}" class="btn bg-gradient-secondary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
{% endblock %}